html {
  scroll-behavior: smooth; }

header .row nav .box h4 {
  -webkit-box-reflect: below -9px linear-gradient(transparent, rgba(0, 0, 0, 0.5));
  font-size: 1.7rem;
  color: #ffff00;
  text-shadow: 0 3px 3px rgba(82, 0, 0, 0.71); }
  header .row nav .box h4 .span1 {
    color: #005c5c;
    font-weight: bold; }
header .row nav .navbar-collapse .navbar-nav li .font-weight-bold {
  display: inline-block;
  color: rgba(0, 0, 0, 0.93); }
header .row nav .navbar-collapse .navbar-nav li .font-weight-bold:hover {
  transition: .3s;
  color: #ffff00;
  border-color: transparent; }
header .row nav .navbar-collapse .navbar-nav .dropdown .btn-groop:hover {
  background-color: #d9d9d9; }
header .row nav .navbar-collapse .navbar-nav .dropdown .btn-groop {
  font-weight: bolder;
  color: #ffff00;
  background-color: transparent; }
  header .row nav .navbar-collapse .navbar-nav .dropdown .btn-groop .btn-groopE {
    color: #656500; }
  header .row nav .navbar-collapse .navbar-nav .dropdown .btn-groop .btn-groopN {
    color: #acac00; }
  header .row nav .navbar-collapse .navbar-nav .dropdown .btn-groop .btn-groopG {
    color: #dcdc00; }
header .row #carouselExampleIndicators {
  position: revert;
  width: 100%;
  height: 100vh; }
  header .row #carouselExampleIndicators .carousel-inner {
    position: relative;
    width: 100%;
    height: 100vh; }
    header .row #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2) {
      background-image: url("images/home/carousel2.jpg");
      background-size: cover;
      background-position: center; }
    header .row #carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3) {
      background-image: url("images/home/section3.jpg");
      background-size: cover;
      background-position: center; }
    header .row #carouselExampleIndicators .carousel-inner .carousel-item {
      position: relative;
      width: 100%;
      height: 100%;
      background-image: url("images/home/section4.jpg");
      background-size: cover;
      background-position: center; }
      header .row #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption {
        margin-bottom: 200px;
        color: #0e0e0e;
        font-weight: bold;
        text-shadow: 0 0 10px #ffffff;
        font-size: 24px; }
        header .row #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption h1 {
          font-size: 70px; }
        header .row #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption button {
          color: #1a1a1a;
          height: 50px;
          border-radius: 30px;
          font-weight: bold;
          background-color: #e5ff00;
          -webkit-box-reflect: below 20px linear-gradient(transparent, rgba(5, 5, 5, 0.5)); }
        header .row #carouselExampleIndicators .carousel-inner .carousel-item .carousel-caption .sec1-btn:hover {
          background-color: #151515;
          color: #fff000; }

nav.fixed {
  background-color: rgba(93, 93, 93, 0.9); }

.section2 .section2-box1 .section2-title {
  padding: 3% 0 5% 0; }
  .section2 .section2-box1 .section2-title h1 {
    color: #ffff00; }
.section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 {
  margin-bottom: 65px;
  height: 600px; }
  .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .nav-tab {
    margin-top: -20px;
    margin-bottom: -40px;
    position: relative;
    z-index: 11; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .nav-tab .btn-biznes {
      border-radius: 20px;
      font-size: 13px;
      width: 70px;
      height: 35px;
      background-color: #4a9b94; }
      .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .nav-tab .btn-biznes .biznes {
        color: #ffff00;
        font-weight: bold;
        opacity: 0.7; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .nav-tab .btn-biznes:hover .biznes {
      position: relative;
      z-index: 1;
      color: #000000;
      box-shadow: 2px 2px 10px #0e0e0e;
      border-radius: 20px; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .nav-tab .btn-biznes-left1 {
      margin-left: -15px; }
  .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane .row .col-lg-12 {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane .row .col-lg-12 .tab-pane1 .section2-text {
      color: #ffff00; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane .row .col-lg-12 .tab-pane1 .section2-lin {
      border: 1px solid #ffff00;
      width: 80px; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane .row .col-lg-12 .tab-pane2 .section2-input {
      width: 220px;
      border-radius: 20px;
      border: 1px solid #ffff00;
      color: #033; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane .row .col-lg-12 .tab-pane2 .section2-btn {
      border-radius: 20px;
      background-color: #ffff00;
      color: #033;
      font-size: 13px;
      padding: 8px;
      font-weight: bold; }
  .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane2 .row .col-12 img {
    position: absolute;
    z-index: -1;
    opacity: 0.9;
    border-radius: 5px; }
  .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane2 .row .col-12 .section-img:hover .section-img {
    opacity: 0.2; }
  .section2 .section2-box1 .row .col-lg-8 .row .sec2-col1 .tab-content .tab-pane2 .row .col-12 .text {
    width: 300px;
    margin-top: 240px;
    margin-left: 380px;
    background-color: rgba(238, 238, 238, 0);
    display: grid;
    justify-content: right;
    align-items: center; }
.section2 .section2-box1 .row .col-lg-8 .row .sec2-col2 {
  margin-bottom: 70px;
  margin-left: 130px; }
  .section2 .section2-box1 .row .col-lg-8 .row .sec2-col2 .row .col-md-12 #demo2 {
    width: 500px; }
    .section2 .section2-box1 .row .col-lg-8 .row .sec2-col2 .row .col-md-12 #demo2 .carousel-indicators {
      position: absolute;
      display: flow-root;
      flex-direction: column;
      margin-left: 420px;
      margin-bottom: 180px; }
      .section2 .section2-box1 .row .col-lg-8 .row .sec2-col2 .row .col-md-12 #demo2 .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #033;
        margin: 20px; }
      .section2 .section2-box1 .row .col-lg-8 .row .sec2-col2 .row .col-md-12 #demo2 .carousel-indicators .active {
        background: #ffff00; }
.section2 .section2-box1 .row .col-lg-4 {
  padding-left: 100px; }
  .section2 .section2-box1 .row .col-lg-4 .card {
    position: relative;
    max-width: 250px;
    height: 210px;
    background-color: white;
    margin: 30px 10px 0 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(137, 137, 137, 0.5);
    transition: .5s ease-in-out; }
    .section2 .section2-box1 .row .col-lg-4 .card .imgbx {
      position: relative;
      width: 200px;
      top: -50px;
      left: 5px;
      box-shadow: 0 0 15px rgba(137, 137, 137, 0.5);
      z-index: 1; }
      .section2 .section2-box1 .row .col-lg-4 .card .imgbx img {
        width: 100%;
        border-radius: 4px;
        transition: transform .5s ease; }
    .section2 .section2-box1 .row .col-lg-4 .card .content {
      position: relative;
      top: -140px;
      padding: 10px 1px;
      text-align: justify;
      color: #fff;
      visibility: hidden;
      opacity: 0;
      transition: .3s ease-in-out; }
    .section2 .section2-box1 .row .col-lg-4 .card .imgbx img:hover {
      transform: scale(1.08);
      cursor: zoom-in; }
  .section2 .section2-box1 .row .col-lg-4 .card:hover {
    height: 410px; }
  .section2 .section2-box1 .row .col-lg-4 .card:hover .content {
    visibility: visible;
    opacity: 1;
    color: black;
    top: -40px;
    transition-delay: .3s; }

.section3 {
  background-color: #dbdbdb; }
  .section3 .container .section3-title {
    padding: 5% 0 0 0; }
    .section3 .container .section3-title h1 {
      color: #ffff00; }
  .section3 .container .row .col-lg-4 .card-header-overlay .card-header {
    position: relative;
    padding: 0;
    box-sizing: border-box; }
    .section3 .container .row .col-lg-4 .card-header-overlay .card-header .overlay-block {
      position: absolute;
      top: 100%;
      right: 0;
      bottom: 0;
      left: 0;
      transition: ease .5s;
      overflow: hidden;
      width: 100%;
      height: 0;
      background-color: rgba(0, 0, 0, 0.6); }
      .section3 .container .row .col-lg-4 .card-header-overlay .card-header .overlay-block .overlay-text {
        position: absolute;
        overflow: hidden;
        white-space: nowrap;
        color: #ffff00;
        top: 60%;
        left: 25%;
        transform: translate(-70%, -30%); }
        .section3 .container .row .col-lg-4 .card-header-overlay .card-header .overlay-block .overlay-text button {
          color: #ffff00;
          background-color: #003333; }
  .section3 .container .row .col-lg-4 .card-header-overlay .card-body {
    color: #003333; }
  .section3 .container .row .col-lg-4 .card-header-overlay .card-footer button {
    background-color: #003333;
    color: #fffd00; }
  .section3 .container .row .col-lg-4 .card-header-overlay .card-footer .sec3-btn-foot:hover {
    background-color: #ffff00;
    color: #033;
    font-weight: bold; }
  .section3 .container .row .col-lg-4 .card-header-overlay .sec3-btn-head:hover {
    background-color: #fff000;
    color: black;
    font-weight: bold; }
  .section3 .container .row .col-lg-4 .card-header-overlay:hover .overlay-block {
    opacity: 1;
    top: 0;
    height: 100%; }

.section4 .fixed-background {
  background: url("images/section3/fixed1.jpg") repeat fixed 100%; }
  .section4 .fixed-background .row.dark {
    padding: 4% 0; }
    .section4 .fixed-background .row.dark .container .col-12 h1 {
      color: #ffff00;
      font-weight: bold; }
    .section4 .fixed-background .row.dark .container .col-12 .heading-underline {
      margin: 20px auto;
      width: 100px;
      height: 5px;
      background-color: #033; }
    .section4 .fixed-background .row.dark .container .row .col-lg-6 {
      padding: 4% 0 5% 0;
      display: grid;
      justify-content: center;
      align-items: center; }
      .section4 .fixed-background .row.dark .container .row .col-lg-6 h5 {
        color: #033; }
      .section4 .fixed-background .row.dark .container .row .col-lg-6 .feature {
        margin: 30px auto; }
        .section4 .fixed-background .row.dark .container .row .col-lg-6 .feature i {
          color: #033; }
      .section4 .fixed-background .row.dark .container .row .col-lg-6 .prag1 {
        background-color: #d4d4d4;
        width: 250px;
        height: 10px;
        color: white; }
        .section4 .fixed-background .row.dark .container .row .col-lg-6 .prag1 .progbar1 {
          width: 90%;
          background-color: #033; }
        .section4 .fixed-background .row.dark .container .row .col-lg-6 .prag1 .progbar2 {
          width: 41%;
          background-color: #ffff00; }
        .section4 .fixed-background .row.dark .container .row .col-lg-6 .prag1 .progbar3 {
          width: 30%;
          background-color: #8f1b1b; }
        .section4 .fixed-background .row.dark .container .row .col-lg-6 .prag1 .progbar4 {
          width: 2%;
          background-color: #646464; }

.section5 .section5-box .section5-title h1 {
  color: #ffff00; }
.section5 .section5-box .row .col-lg-7 {
  padding: 6% 0; }
  .section5 .section5-box .row .col-lg-7 .sec5-img img {
    margin-left: -40px;
    border-radius: 50%;
    border: 5px solid #c0c0c0; }
  .section5 .section5-box .row .col-lg-7 .sec5-img .vertical-underline {
    position: absolute;
    background-color: silver;
    width: 3px;
    height: 230px;
    margin: -40px 0 0 40px;
    z-index: -1; }
  .section5 .section5-box .row .col-lg-7 .sec5-img .vertical-underline2 {
    position: absolute;
    background-color: silver;
    width: 3px;
    height: 230px;
    margin: -40px 0 0 40px;
    z-index: -1; }
  .section5 .section5-box .row .col-lg-7 .sec5-img .vertical-underline3 {
    position: absolute;
    background-color: silver;
    width: 3px;
    height: 230px;
    margin: -40px 0 0 40px;
    z-index: -1; }

footer {
  background-color: #033; }
  footer .container .row .col-md-4 .footer-box1 h4 {
    color: #bababa; }
  footer .container .row .col-md-4 .footer-input {
    background-color: #bababa;
    border: 2px solid silver; }
  footer .container .row .col-md-4 div a i {
    width: 30px;
    color: #bababa; }
  footer .container .row .col-md-4 div .footer-icon1:hover i {
    color: #0b2cff; }
  footer .container .row .col-md-4 div .footer-icon2:hover i {
    color: #eedc00; }
  footer .container .row .col-md-4 div .footer-icon3:hover i {
    color: #ff1515; }
  footer .container .row .col-md-4 div .footer-icon4:hover i {
    color: #6a6c7c; }
  footer .container .row .col-md-4 div .footer-icon5:hover i {
    color: #131313; }
  footer .container .row .col-md-5 .row h6 {
    color: silver; }
  footer .container .row .col-md-5 .row ul li {
    font-size: 13px; }

@media only screen and (max-width: 992px) {
  .section2 .section2-box1 .row .sec2-cars {
    height: 900px; } }

/*# sourceMappingURL=stylE.css.map */
